.Container {
  min-height: 80wh;
  background-image: radial-gradient(circle at bottom, #540000, #210000);
  position: absolute;
  width: 100%;

  &::before {
    content: " ";
    position: absolute;
    top: -20vw;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 30vw;
    width: 100%;
    background-image: radial-gradient(circle at bottom, #540000, #210000);
  }
  .Wrapper {
    display: grid;
    padding-top: 4.5vw;
    row-gap: 6vw;
  }
  .Triangle {
    background-image: url("../../images/Layer-82.svg");
    background-size: contain;

    background-repeat: no-repeat;
    width: 19vw;
    position: absolute;
    z-index: 1;
    filter: blur(25px);
    height: 26vw;

    &.first {
      width: 19vw;

      top: 35%;
      left: -5%;
      background-position: right;
    }
    &.second {
      left: 78%;
      top: 82%;
      width: 15vw;
      background-position: left bottom;
      transform: rotate(281deg);
    }
  }
}

@media (max-width: 600px) {
  .Container {
    position: absolute;
    background-color: #210000;
    background-image: unset;
    width: 100%;

    &::before {
      content: " ";
      position: absolute;
      top: -20vw;
      left: 0;
      bottom: 0;
      right: 0;
      min-height: 30vw;
      width: 100%;
      background-color: #210000;
      background-image: unset;
    }
    .Wrapper {
      display: grid;
      padding-top: 4.5vw;
      row-gap: 25vw;
    }

    .Triangle {
      display: none;
    }
  }
}
