.Loader {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: rgb(204, 0, 0);
  background: radial-gradient(circle, #cc0000 0%, rgba(118, 0, 0, 1) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1000000000;
  width: 100vw;
  height: 100vh;

  .Logo {
    width: 20vw;
  }

  .waiter {
    align-self: flex-start;
    position: relative;
    animation-name: jdun;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    z-index: 1;

    img {
      width: 30vw;
      max-width: 400px;
      min-width: 250px;
      vertical-align: start;
      border-style: none;
      align-self: flex-start;
      object-fit: cover;
      object-position: top;
    }
  }

  .Image {
    filter: contrast(50%) sepia(100%) hue-rotate(170deg) brightness(1)
      saturate(300%);
    z-index: 1000;
    transition: none;
  }
  .LoadImage {
    position: absolute;
    top: 0;
    left: 0;
    transition: none;
    overflow: hidden;
  }

  &.hidden {
    animation-name: jdun_out;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  @keyframes jdun {
    0% {
      transform: rotate(5deg);
    }
    33% {
      transform: rotate(-10deg);
    }
    66% {
      transform: rotate(10deg);
    }
    to {
      transform: rotate(-5deg);
    }
  }

  @keyframes jdun_out {
    0% {
    }
    100% {
      opacity: 0;

      // opacity: 0;
      z-index: -1;
    }
  }
}

@media (max-width: 500px) {
  .Loader {
    .Logo {
      width: 40vw;
    }
  }
}
