.Courses {
  display: grid;
  width: 71vw;
  justify-self: center;
  min-height: 40vw;
  position: relative;
  row-gap: 2.3vw;

  .TextWrapper {
    font-family: "Passion One";
    font-size: 3.75vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0.2vw;
  }
  .CoursWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.8vw;
  }
  .MentorsWrapper {
    display: grid;
    row-gap: 0.4vw;
  }
  .CoursWrapperMobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .Courses {
    display: grid;
    width: 82.6vw;
    justify-self: center;
    min-height: 40vw;
    position: relative;
    row-gap: 2.3vw;

    .TextWrapper {
      font-family: "Passion One";
      font-size: 9.6vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-bottom: 0.2vw;
    }
    .CoursWrapper {
      display: none;
    }
    .CoursWrapperMobile {
      display: grid;
      justify-items: center;
      .QuickGoButtonsWrapper {
        margin: 7vw 0;
        display: flex;
        align-items: center;
      }

      .QuickGoButton {
        margin-left: 2vw;
        width: 10vw;
        height: 1.5vw;
        opacity: 0.5;
        background-color: #ffffff;
        cursor: pointer;

        &.Current {
          opacity: 1;
          background-color: #ec174d;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .MentorsWrapper {
      display: grid;
      row-gap: 9px;
    }
  }
}
