.Container {
  min-height: 52vw;

  display: grid;
  position: relative;

  .Introduction {
    display: grid;
    place-items: center;
    grid-auto-rows: auto;
    font-size: 4.1vw;
    color: #ffffff;
    line-height: 0.98;
    max-height: 15vw;
    row-gap: 2.5vw;

    h4 {
      font-weight: lighter;
    }
    .TitleWrapper {
      display: flex;
      align-items: center;

      .Year {
        width: 11vw;
        height: 7.5vw;

        display: grid;
        place-content: center;

        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 92%);
        background-image: linear-gradient(153deg, #ff0000 3%, #a50069 88%);

        color: #470000;
        margin-right: 1.1vw;
      }
    }
    .Annotation {
      font-size: 1.05vw;
      span {
        color: #f63b61;
        text-decoration: underline;
      }
    }
  }

  .Sponsors {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 15vw;
    padding-top: 1.5vw;
    row-gap: 5vw;
  }

  .Image {
    max-width: 71vw;
    margin-top: 5vw;
  }
}

@media (max-width: 600px) {
  .Container {
    .Introduction {
      display: grid;
      place-items: center;
      grid-auto-rows: unset;
      font-size: 9.17vw;
      color: #ffffff;
      line-height: 0.98;
      max-height: unset;
      row-gap: 29px;

      h4 {
        font-weight: lighter;
      }
      .TitleWrapper {
        display: flex;
        align-items: center;

        .Year {
          width: 25.12vw;
          height: 17.14vw;

          display: grid;
          place-content: center;

          margin-right: 11px;
          color: #210000;
        }
      }
      .Annotation {
        line-height: 1.75;
        font-size: 4.05vw;
        width: 70%;
        text-align: center;
        span {
          color: #f63b61;
          text-decoration: underline;
        }
      }
    }

    .Sponsors {
      display: grid;
      position: relative;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: column;
      grid-template-rows: repeat(3, 1fr);
      grid-auto-rows: 34.53vw;
      padding-top: 13vw;
      row-gap: 5vw;
      width: 82.6vw;
    }

    .Image {
      max-width: 71vw;
      margin-top: 5vw;
    }
  }
}
