.open {
  position: relative;

  right: 40px;
  width: 50px;
  height: 50px;
  left: 10%;

  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  &:hover {
    // opacity: 0.8;
  }
  span {
    display: block;
    position: absolute;
    float: left;
    clear: both;
    height: 5px;
    width: 5px;
    left: 25%;

    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 3px;
    top: 3px;
    overflow: hidden;
    transition: all 0.4s ease;
    &:nth-child(1) {
      margin-top: 10px;
      z-index: 9;
    }
    &:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-child(3) {
      margin-top: 30px;
    }
  }
}
.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #ffd200;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
  li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &:first-child {
      margin-top: 2vw;
    }
    &:nth-child(1) {
      -webkit-transition-delay: 0.05s;
    }
    &:nth-child(2) {
      -webkit-transition-delay: 0.1s;
    }
    &:nth-child(3) {
      -webkit-transition-delay: 0.15s;
    }
    &:nth-child(4) {
      -webkit-transition-delay: 0.2s;
    }
    &:nth-child(5) {
      -webkit-transition-delay: 0.25s;
    }
    a {
      text-transform: none;
      font-family: "Passion One";
      font-size: 20px;
      color: black;
      &:hover {
        color: #971111;
      }
    }
  }
}

.oppenned {
  .sub-menu {
    opacity: 1;
    height: 400px;
    width: 400px;
    display: grid;
    row-gap: 10px;
    justify-items: center;
    align-content: center;
    transform: translate(2.5%, -2.5%);
  }
  span:nth-child(2) {
    overflow: visible;
    display: grid;
    place-items: center;
  }
  span:nth-child(1),
  span:nth-child(3) {
    z-index: 100;
    width: 40px;
    transform: rotate(45deg);
  }
  span:nth-child(1) {
    transform: rotate(45deg) translateY(12px) translateX(12px);
  }
  span:nth-child(2) {
    position: absolute;
    height: 400px;
    width: 400px;
    top: -1.5vw;
    left: -12vw;
    left: -465%;
    border-radius: 50%;
    background-color: #ffd000ce;
  }
  span:nth-child(3) {
    width: 40px;
    transform: rotate(-45deg) translateY(-10px) translateX(10px);
  }
  li {
    padding-left: 20%;
    justify-self: flex-start;
  }
}
