.Container {
  grid-column: 1/10;
  max-width: 60vw;
  width: 60vw;
  z-index: 2;
  height: 60vw;
  padding-left: 7.3vw;
  position: relative;

  background-repeat: no-repeat;
  background-image: url("../../images/blue_zone.svg");
  background-size: contain;
}

.Man {
  position: absolute;
  z-index: 20;
  width: 15.9vw;
  top: 47.3%;
}

.LogoContainer {
  position: absolute;
  top: 6%;

  display: grid;

  align-items: center;

  grid-template-columns: 10vw 40px 1fr 1fr;
  column-gap: 2.4vw;
  justify-content: center;

  .Logo {
    width: 10vw;
  }

  .LinkItem {
    font-family: "Passion One";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;

    font-size: 1.05vw;
    overflow: hidden;

    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    &:hover {
      color: #ffd200;
    }
  }
}

.Start {
  display: grid;
  justify-content: center;
  text-align: center;
  position: relative;
  font-family: "Passion One";
  font-weight: bold;

  .text {
    position: absolute;
    font-family: "Passion One";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #000000;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .img {
    width: 10vw;
    max-width: 190px;
    min-width: 100px;
  }

  z-index: 20;
  left: 2%;

  top: 48.22%;

  // &:hover {
  //   transform: translateY(-3px);
  // }
  // &:active {
  //   transform: translateY(-2px);
  // }
}

.DotsWrapper {
  display: grid;
  place-items: center;
}

.TextWrapper {
  display: grid;
  position: absolute;
  top: 20.7%;
  width: 35.2vw;
  overflow: hidden;
  row-gap: 2.4vw;

  .MainText {
    font-family: "Passion One";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-shadow: 0 10px 0 rgba(0, 0, 0, 0.16);
    font-size: 3.75vw;
    padding: 0 20px;

    overflow: hidden;

    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .SecondText {
    width: 80%;
    justify-self: flex-end;
    font-family: "Passion One";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;

    font-size: 1.05vw;
    overflow: hidden;

    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
}

@media (max-width: 600px) {
  .Container {
    grid-column: 1;
    max-width: unset;
    width: 100vw;
    z-index: 2;
    height: 250vw;
    padding-left: unset;
    margin-top: 50px;

    background-image: url("../../images/blue_zone_mobile.svg");
    background-size: contain;
  }

  .Man {
    position: absolute;
    z-index: 20;
    width: 72.5vw;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50.3%;
  }

  .LogoContainer {
    display: none;
  }

  .Start {
    .text {
      font-size: 6.5vw;
      line-height: 1.11;
    }
    .img {
      width: 53vw;
      max-width: unset;
      min-width: unset;
    }

    top: 15%;
  }

  .TextWrapper {
    justify-self: center;
    position: relative;
    justify-items: center;
    top: 25vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;

    row-gap: 10.9vw;
    .MainText {
      width: 80%;
      font-size: 10vw;
      padding: unset;
    }
    .SecondText {
      width: 82.8%;
      justify-self: center;
      font-family: "Alatsi";

      font-size: 3.95vw;

      text-align: center;
      line-height: 1.75;
      color: #ffffff;
    }
  }
}
