.awssld {
  --slider-height-percentage: 60% !important;
  --slider-transition-duration: 770ms !important;
  --organic-arrow-thickness: 4px !important;
  --organic-arrow-border-radius: 0px !important;
  --organic-arrow-height: 40px !important;
  --organic-arrow-color: #cf3438 !important;
  --control-button-width: 10% !important;
  --control-button-height: 25% !important;
  --control-button-background: transparent !important;
  --control-bullet-color: rgb(255, 255, 255, 0.3) !important;
  --control-bullet-active-color: #cf3438 !important;
  --loader-bar-color: #ff0000 !important;
  --loader-bar-height: 6px !important;
}

.awssld__bullets button {
  border-radius: unset;
  width: 8vw;
  height: 1.5vw;
  margin-left: 2.1739vw;
}

.awssld__bullets {
  &--active {
    transform: unset !important;
  }
}
