.Container {
  position: relative;
  transform: translateY(-19%);
  z-index: 10;

  width: 100%;
  grid-column: 1/-1;
  height: 147vw;

  background-repeat: no-repeat;
  background-image: url("../../images/mans.svg");
  background-size: contain;
}
.MobileCarousel {
  display: none;
}

.BoarGames {
  position: absolute;
  top: 20vw;
  left: 15vw;
  width: 20vw;
}

.CarWrapper {
  position: relative;
  left: 50%;
  top: 11%;
  transform: translate(-50%, 0);
  width: 80vw;
  height: 50vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
  .First {
    align-self: flex-end;
  }
  .Second {
    align-self: center;
  }
  .Third {
    align-self: flex-start;
    display: grid;
    align-items: flex-start;
  }
}
.Front {
  display: none;
}
.TextWrapper {
  position: absolute;
  left: 50%;
  top: 49%;
  transform: translate(-50%);
  width: 50.8vw;
  display: grid;
  row-gap: 1vw;
  .title {
    justify-self: center;
    width: 24.5vw;
  }
  .motivation {
    font-family: "Passion One";
    font-size: 1.45vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    text-align: center;
    color: #ffd200;
  }

  .annotation {
    font-family: "Passion One";
    font-size: 1.1vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}

@media (max-width: 600px) {
  .Container {
    position: relative;
    transform: translateY(-53.5%);
    z-index: 10;
    width: 100%;

    grid-column: 1;
    height: 326.32vw;

    background-image: url("../../images/gray_zone_mobile.svg");
  }
  .MobileCarousel {
    display: grid;
    position: relative;
    top: 17%;
    row-gap: 23vw;
    .SlideTextWrapper {
      padding-left: 9%;

      .SlideText {
        width: 60%;
        font-family: "Passion One";
        font-size: 4.86vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.13;
        line-height: 1.07;
        justify-self: center;
        text-transform: capitalize;

        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }

    .Front {
      display: grid;

      height: 107.86vw;
      position: relative;
      width: 81.64vw;
      justify-self: center;
      align-self: center;

      border: 3.6vw solid #3a0101;
      box-shadow: 0 2.7vw 7.2vw 0 rgba(0, 0, 0, 0.15);
      background-image: linear-gradient(
        to bottom,
        rgba(242, 23, 23, 0),
        rgba(49, 3, 3, 0.76)
      );
      z-index: 1000;
      img {
        object-fit: cover;
      }

      .test {
        position: absolute;

        left: 0;
        top: 0;
        width: 100%;
        height: 101%;
        justify-self: center;

        box-sizing: content-box;

        box-shadow: 0 2.7vw 7.2vw 0 rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(
          to bottom,
          rgba(242, 23, 23, 0),
          rgba(49, 3, 3, 0.76)
        );
      }
    }
  }

  .BoarGames {
    position: absolute;
    top: 20vw;
    left: 15vw;
    width: 43.47vw;
  }

  .CarWrapper {
    display: none;
  }

  .TextWrapper {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    width: 81.64vw;
    display: grid;
    row-gap: unset;
    .title {
      justify-self: flex-start;
      width: 60.62vw;
      margin-bottom: 3.89vw;
    }
    .motivation {
      font-family: "Alatsi";

      font-size: 3.86vw;

      line-height: 2;
      text-align: left;

      color: #ffffff;
    }

    .annotation {
      font-family: "Alatsi";
      font-size: 3.865vw;
      text-align: left;

      line-height: 2;
    }
  }
}
