.Container {
  width: 20.84vw;
  display: grid;
  row-gap: 2vw;

  .Card {
    display: grid;
    align-items: flex-end;
    .Front {
      grid-row: 1/1;
      grid-column: 1/1;
      height: 27.86vw;

      border: 0.8vw solid #3a0101;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
      background-image: linear-gradient(
        to bottom,
        rgba(242, 23, 23, 0),
        rgba(49, 3, 3, 0.76)
      );
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
      }
    }
    .Back {
      grid-row: 1/1;
      grid-column: 1/1;

      height: 31.56vw;
      opacity: 0;
      z-index: 10000;
      width: 100%;
      -webkit-backdrop-filter: blur(9px);
      backdrop-filter: blur(9px);
      background-color: rgba(255, 0, 0, 0.6);
      clip-path: circle(100% at 50% 50%);

      display: grid;
      align-items: center;
      justify-items: center;
      transform: translateY(2.4vw);

      .Content {
        display: grid;
        row-gap: 2vw;
        justify-items: center;
      }

      .Button {
        position: relative;
        display: grid;
        align-items: center;
        justify-items: center;
        background-image: url("../../../images/enter_now.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        position: relative;
        width: 13.55vw;
        max-width: 218px;
        min-width: 100px;
        height: 7.25vw;
        max-height: 120px;

        font-family: "Passion One";
        font-size: 1.1vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.13;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      .SocialWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1vw;
        .Social {
          width: 2.5vw;
        }
      }

      &:hover {
        transition: 1s;
        opacity: 1;

        clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 92%);
      }
    }
  }
  .Text {
    width: 70%;
    font-family: "Passion One";
    font-size: 1.5vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.13;
    line-height: 1.07;

    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
}
