* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Passion One";
  a {
    text-decoration: none;
  }

  ::selection {
    background-color: transparent;
  }

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

.awssld__bullets {
  &--active {
    transform: unset;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Passion+One&display=swap");

@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Alatsi&display=swap");
