.Container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: unset;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
  max-height: 209vw;

  .Yellow {
    justify-items: flex-end;
    grid-column: 10/21;
    max-width: 70vw;
    width: 65.5vw;
    z-index: 2;
  }
  .Blue {
    grid-column: 1/10;
    max-width: 60vw;
    width: 60vw;
    z-index: 2;
  }
  .Red {
    position: relative;
    transform: translateY(-25%);
    z-index: 1;

    max-width: 1920px;
    width: 100%;
    grid-column: 1/-1;
  }
  .Mans {
    align-self: flex-start;
    transform: translateY(-25%);

    max-width: 1900px;
    width: 100%;
    grid-column: 1/21;
  }
}

@media (max-width: 600px) {
  .Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: unset;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    max-height: 1005vw;

    .Yellow {
      justify-items: flex-end;
      grid-column: 10/21;
      max-width: 70vw;
      width: 65.5vw;
      z-index: 2;
    }
    .Blue {
      grid-column: 1/10;
      max-width: 60vw;
      width: 60vw;
      z-index: 2;
    }
    .Red {
      position: relative;
      transform: translateY(-25%);
      z-index: 1;

      max-width: 1920px;
      width: 100%;
      grid-column: 1/-1;
    }
    .Mans {
      align-self: flex-start;
      transform: translateY(-25%);

      max-width: 1900px;
      width: 100%;
      grid-column: 1/21;
    }
  }
}
