.ButtonContainer {
  display: none;
}

@media (max-width: 600px) {
  .ButtonContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    display: grid;
    justify-items: center;
    height: 10vw;
    .QuickGoButtonsWrapper {
      display: none;
      align-items: center;
    }

    .QuickGoButton {
      margin-left: 2vw;
      width: 10vw;
      height: 1.5vw;
      opacity: 0.5;
      background-color: #ffffff;
      cursor: pointer;

      &.Current {
        opacity: 1;
        background-color: #ec174d;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
