.Container {
  display: grid;
  width: 100%;

  .InfoWrapper {
    display: grid;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 1.45vw;
    color: black;
    background-color: #ffffff;
    height: 9.25vw;
    align-items: center;

    .Time {
      font-size: 0.8vw;
      background-color: #ff0000;
      color: #ffffff;

      height: 2vw;
      width: 5.7vw;
      display: grid;
      place-content: center;
      line-height: 1.13;
      margin-bottom: 1vw;
    }
    .Name {
      font-size: 1.05vw;
      line-height: 1.11;
      margin-bottom: 0.7vw;
    }
    .Price {
      line-height: 1.1;
      letter-spacing: normal;
      text-align: left;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .Image {
    width: 100%;
    height: 15.75vw;
    object-fit: cover;
    justify-self: center;
  }
}

.Card {
  justify-self: center;
  position: relative;
  width: 100%;

  .BackSide {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    height: 25vw;
    background-color: rgba(243, 5, 6, 0.93);
    opacity: 0;

    display: grid;
    justify-items: center;
    align-items: center;

    &:hover {
      opacity: 1;
      transition: 1s;
    }
    .DateWrapper {
      font-size: 1vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }

    .Test {
      font-size: 1.6vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .Box {
      font-family: "Passion One";
      font-size: 1vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      width: 11.5vw;
      height: 3.15vw;
      border: 3px solid #ffff;
      display: grid;
      place-content: center;
    }
  }
}

@media (max-width: 600px) {
  .Container {
    display: grid;
    width: 100%;

    .InfoWrapper {
      display: grid;

      padding-left: 6.5vw;
      height: 43.33vw;
      align-content: space-around;
      row-gap: 4vw;

      .Time {
        font-size: 3.75vw;
        background-color: #ff0000;
        color: #ffffff;

        height: 9vw;
        width: 30.82vw;

        margin-bottom: unset;
      }
      .Name {
        font-size: 3.75vw;
        line-height: 1.11;
        margin-bottom: unset;
        margin: 4vw 0;
      }
      .Price {
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        font-size: 4vw;
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .Image {
      height: 72.94vw;
    }
  }

  .Card {
    justify-self: center;
    position: relative;

    .BackSide {
      display: none;

      .Test {
        font-size: 1.6vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
      .Box {
        font-family: "Passion One";
        font-size: 1vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        width: 11.5vw;
        height: 3.15vw;
        border: 3px solid #ffff;
        display: grid;
        place-content: center;
      }
    }
  }
}
