.Sponsor {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: flex-end;
  &.Top {
    align-self: flex-start;
  }
  &.hidden {
    display: none;
  }

  max-height: 11vw;
  .Triangle {
    position: relative;
    width: 15vw;
    height: 10.5vw;
    transition: ease-in 1.5s;

    &.up {
      transition: ease-in 1.5s;
      transform: translateY(-20px);
    }

    .Logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
      max-width: 6.6vw;
      object-fit: contain;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
  .Name {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    span {
      font-family: "Poppins";
      font-size: 1.05vw;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .Next {
      margin-left: 1vw;
      height: 1vw;
      transition: ease-in 1.5s;

      &.move {
        transition: ease-in 1.5s;
        transform: translate(20px, 0);
      }
    }
  }
}

.Rotate {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .Sponsor {
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;
    align-content: center;
    align-self: flex-end;
    &.Top {
      align-self: flex-end;
    }
    &.hidden {
      display: grid;
    }

    max-height: unset;
    .Triangle {
      position: relative;
      width: 39.61vw;
      height: 35.54vw;

      .Logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        max-width: 65%;
        object-fit: contain;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
    .Name {
      display: flex;
      align-items: center;

      span {
        font-family: "Poppins";
        font-size: 3.381vw;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
      .Next {
        margin-left: 3.623vw;
        height: 3.623vw;
      }
    }
  }

  .Rotate {
    transform: rotate(180deg);
  }
}
