.Footer {
  position: relative;
  min-height: 20vh;
  font-family: "Poppins";
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  .Wrapper {
    justify-self: center;
    display: grid;
    justify-items: flex-start;
    grid-auto-rows: 5vw;
    .InfoWrapper {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
    }

    .title {
      font-family: "Poppins";
      font-size: 1.25vw;
      margin-bottom: 4px;
    }
    .annotation {
      font-family: "Poppins";
      font-size: 0.75vw;
      color: #ffffff;
    }

    span {
      font-family: "Poppins";
      font-size: 0.75vw;
      color: #ffffff;
    }
    .SocialWrapper {
      display: flex;
      justify-self: center;
      .social {
        width: 2.8vw;
        margin-left: 5px;
      }
    }
  }
  width: 100%;
  display: grid;
  justify-items: center;

  .Logo {
    position: absolute;
    width: 13vw;
    left: 5%;
    top: -5%;
  }
}

@media (max-width: 600px) {
  .Footer {
    min-height: 50vw;
    margin-bottom: 10vh;

    .Wrapper {
      width: 82.6vw;
      grid-auto-rows: unset;
      row-gap: 40px;

      .InfoWrapper {
        grid-template-columns: 1fr;
      }

      .title {
        font-size: 5.7vw;
        margin-bottom: 4px;
      }
      .annotation {
        font-size: 3.86vw;
      }

      span {
        font-size: 3.86vw;
      }
      .SocialWrapper {
        position: absolute;
        top: 100%;
        display: flex;
        justify-self: center;
        .social {
          width: 12.31vw;
          margin-left: 5px;
        }
      }
    }
    width: 100%;
    display: grid;
    justify-items: center;

    .Logo {
      display: none;
    }
  }
}
