.Burger {
  display: none;
}

@media (max-width: 500px) {
  .Burger {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    .Container {
      height: 50px;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4.1vw;
      .Links {
        font-family: "Passion One";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4.5vw;
        justify-content: space-between;
      }
    }
    .Menu {
      z-index: 10000;
      top: 0;
      left: 0;
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: #ffd200;
      clip-path: circle(0 at 100% 0);
      transition: 0.5s ease-out;
      display: grid;
      place-items: center;
      &.open {
        clip-path: circle(150vh at 100% 0);
        transition: 0.5s ease-in;
      }
      .List {
        list-style: none;
        display: grid;
        row-gap: 5px;
        a {
          text-transform: none;
          font-family: "Passion One";
          font-size: 22px;
          row-gap: 2px;
          color: black;
          &:hover {
            color: #971111;
          }
        }
      }
      .close {
        position: absolute;
        left: 90%;
        top: 2%;
        width: 2vw;
        height: 2vw;
        opacity: 0.6;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before,
      .close:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 3px;
        background-color: black;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
    }
  }
}
