.Container {
  display: grid;
  // justify-content: space-between;
  grid-template-columns: 1fr 2fr 4.6vw;
  justify-content: space-between;
  width: 100%;
  height: 5vw;
  max-height: 68px;
  background-color: #470000;
  align-items: center;

  .Info {
    display: grid;
    align-items: center;
    max-height: 68px;
    padding-left: 12px;
    row-gap: 5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    .Name {
      font-size: 0.94vw;
      color: #ec174d;
      &:hover {
        color: #ffd200;
      }
    }

    .Time {
      font-size: 0.725vw;
      color: #ffffff;
    }
  }

  .Main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 0.94vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    .Mentor {
      display: flex;
      align-items: center;
      .Image {
        width: 2vw;
        height: 2vw;
        margin-right: 0.9vw;
      }
    }
    .Type {
      color: #ffd200;
    }
  }
  .View {
    height: 5vw;
    max-height: 68px;
    box-shadow: 0 15px 30px 0 rgba(233, 0, 0, 0.32);
    background-color: #ff0000;
    display: grid;
    place-content: center;
    font-family: "Passion One";
    font-size: 1vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}

@media (max-width: 600px) {
  .Container {
    display: grid;
    // justify-content: space-between;
    grid-template-columns: 1fr 26.27%;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    background-color: #470000;
    align-items: center;
    row-gap: 9px;

    .Info {
      display: grid;
      align-items: center;
      padding-left: 12px;
      row-gap: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;

      text-align: left;
      .Name {
        font-size: 3.75vw;
        height: 5vw;
        overflow-x: hidden;
        line-height: 1.94;
        color: #ec174d;
      }

      .Time {
        font-size: 3.54vw;
        color: #ffffff;
      }
    }

    .Main {
      display: none;
    }

    .View {
      height: 68px;
      font-size: 4.34vw;
    }
  }
}
