.Container {
  position: relative;
  margin-right: 100px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.CarouselWrapper {
  width: 100%;
  height: 100%;
  img {
    display: none;
  }
}

.NextYellow {
  position: absolute;
  top: 50%;
  left: 80%;
  z-index: 10000;
  width: 3.64vw;
  height: 3.64vw;
}

.FirstImage {
  position: absolute;
  left: -10%;
  top: -57%;
  z-index: 3;
  width: 36vw;
  height: 22.3vw;
  object-fit: contain;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  border: solid 1vw #3a0101;

  transform: rotate(-3deg);
  transition: 1s;

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 102%;
    height: 101%;
    background-image: linear-gradient(
      to bottom,
      rgba(242, 23, 23, 0),
      rgba(49, 3, 3, 0.76)
    );
  }

  & > img {
    display: block;

    width: 100%;
    height: 100%;
  }
}

.SecondImage {
  position: absolute;
  left: -6%;
  top: -40%;
  z-index: 2;
  width: 36vw;
  height: 17.2vw;
  object-fit: contain;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  border: solid 5px #000000;
  transition: 1s;

  & > img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.ThirdImage {
  position: absolute;
  left: 23%;
  top: -37%;
  z-index: 1;
  width: 28.8vw;
  height: 16vw;
  object-fit: contain;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  border: solid 5px #000000;
  transform: rotate(5deg);
  transition: 1s;

  & > img {
    display: block;

    width: 100%;
    height: 100%;
  }
}

.AbsoluteWrapper {
  position: absolute;
  right: 55%;
  z-index: 10;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 20.8vw;
  width: 28.7vw;
}

.QuickGoButtonsWrapper {
  display: flex;
  align-items: center;
}

.QuickGoButton {
  margin-left: 0.45vw;
  width: 1.5vw;
  height: 0.3vw;
  opacity: 0.3;
  background-color: #ffffff;
  cursor: pointer;

  &.Current {
    opacity: 1;
  }

  &:hover {
    opacity: 0.7;
  }
}

.Title {
  position: absolute;
  top: 47%;
  width: 80%;
  left: 11%;
  z-index: 10;
  margin-bottom: 2.5vw;
  height: 5.4vw;
  font-family: "Passion One";
  font-size: 2.7vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.QuickGoButton-Active {
  opacity: 1;
}

.Content {
  &:hover {
    .Title {
      color: #ffd200;
    }
    .NextYellow {
      transform: translate(40px);
      transition: 2s;
    }
  }
}

.Description {
  margin-bottom: 0.5vw;
  padding: 0.75vw 1vw 1vw 0.93vw;
  display: flex;
  justify-content: space-between;
  width: 28vw;
  height: 51px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #3a0101;
}

.DescriptionTitle {
  height: 1.1vw;
  font-family: "Passion One";
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Additional {
  font-family: "Passion One";
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffd200 !important;
  a {
    color: #ffd200;
  }
  &:hover {
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }
}

@media (max-width: 600px) {
  .Container {
    position: absolute;
    margin-right: unset;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100vw;
    top: 6%;
  }

  .CarouselWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: flex-end;
  }

  .NextYellow {
    position: absolute;
    top: 127vw;
    left: 65vw;
    z-index: 10000;
    width: 7.1vw;
    height: 11.47vw;
    transition: 2s;
  }

  .FirstImage {
    position: relative;
    left: unset;
    top: unset;
    z-index: 3;
    width: 192vw;
    height: 109vw;
    object-fit: contain;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    border: solid 4.8vw #3a0101;
    box-sizing: content-box;

    transform: unset;
    transition: 1s;
  }

  .SecondImage {
    left: 60%;
    top: -4.8309vw;
    width: 192vw;
    height: 109vw;
    transform: unset;
  }

  .ThirdImage {
    position: absolute;
    left: 150%;
    top: -9.66vw;
    width: 192vw;
    height: 109vw;
    transform: unset;
  }

  .AbsoluteWrapper {
    right: 63%;
  }
  .ButtonsContainer {
    position: absolute;
    top: 150vw;
    display: grid;
    .QuickGoButtonsWrapper {
      width: 100vw;

      justify-self: center;
      position: unset;
      display: flex;
      align-items: unset;
      align-content: unset;
      justify-content: center;
      justify-items: center;
      transform: translate(-8%, 50%);
    }

    .QuickGoButton {
      margin-left: 2.1739vw;

      width: 8vw;
      height: 1.5vw;
      opacity: 0.3;
      background-color: #ffffff;
      cursor: pointer;

      &.Current {
        opacity: 1;
        background-color: #ec174d;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .Title {
    position: absolute;
    width: unset;
    top: 127vw;
    width: 100vw;
    left: 70%;

    width: 40vw;
    z-index: 10;
    margin-bottom: unset;
    height: unset;
    font-size: 4.8vw;
    text-align: center;
    line-height: 1.3;
    color: #ffffff;
  }

  .QuickGoButton-Active {
    opacity: 1;
  }

  .Description {
    display: none;
  }
}
