.Container {
  position: relative;
  transform: translateY(-25%);
  z-index: 1;

  width: 100%;
  grid-column: 1/-1;
  height: 70vw;

  background-repeat: no-repeat;
  background-image: url("../../images/red_zone.svg");
  background-size: contain;
  padding-left: 1.5vw;
}

.Wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border: 10px solid red;
}

.BlackWidow {
  position: absolute;
  right: 0;
  top: 48%;
  z-index: 10000;
  width: 23%;
  mix-blend-mode: luminosity;
}

.WhatWrapper {
  position: absolute;
  left: 58%;
  top: 27.5%;
  display: grid;
  justify-items: center;
  row-gap: 1vw;

  .What {
    width: 20.1vw;
    max-width: 384px;
  }

  .Watch {
    position: relative;
    clip-path: polygon(0 0, 95% 0, 99% 93%, 0 79%);
    background-color: #ffd200;

    width: 13.55vw;
    max-width: 260px;
    height: 80px;
    z-index: 10000;

    &:hover {
      background-color: #ffe62a;
    }

    .button {
      display: flex;
      position: absolute;
      top: 40%;

      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 0 1.5vw;
      transform: translate(0, -50%);
    }
    .text {
      margin-left: 1.5vw;
      line-height: 1.05;
      letter-spacing: normal;
      text-align: left;
      color: black;
      font-size: 1.1vmax;
      overflow: hidden;
      height: unset;

      font-family: "Passion One";
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
    }
  }
}

.Vroom {
  position: absolute;
  left: 95%;
  transform: translate(-100%, 0);
  top: 42.5%;
  width: 11.2%;
  mix-blend-mode: luminosity;
}

.AllContainer {
  justify-self: flex-start;
  padding-left: 16%;
  z-index: 1000;

  .AllWrapper {
    display: flex;
    padding-top: 10px;
    transition: 2s;

    &:hover {
      .All {
        color: #ffd200;
      }
      .nextIcon {
        transition: 2s;
        transform: translate(10px);
      }
    }
  }

  .All {
    justify-self: flex-start;
    justify-items: flex-start;

    font-family: "Passion One";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #ffffff;
    font-size: 1.2vmax;
    margin-right: 25px;
  }
  .nextIcon {
    transition: 2s;
  }
}

@media (max-width: 600px) {
  .Container {
    position: unset;
    transform: translateY(-41%);
    z-index: 1;

    grid-column: 1;
    height: 399vw;

    background-image: url("../../images/red_zone_mobile.svg");
    background-size: contain;
    padding-left: unset;
    display: grid;
    align-items: center;
    padding-top: 110vw;
  }

  .Wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border: 10px solid red;
  }

  .BlackWidow {
    display: none;
  }

  .WhatWrapper {
    position: unset;
    justify-self: center;
    display: grid;
    align-self: flex-start;
    justify-items: center;
    row-gap: 3.1vw;
    top: unset;

    .What {
      width: 75.12vw;
      max-width: unset;
    }

    .Watch {
      width: 48vw;
      max-width: unset;
      height: 16vw;
      .button {
        padding: unset;
        padding-left: 6vw;
        transform: translate(0, -50%);
      }
      .text {
        margin-left: 2.5vw;

        font-size: 4.3vw;
        height: unset;
      }
    }
  }

  .Vroom {
    display: none;
  }

  .AllContainer {
    justify-self: center;
    padding-left: unset;
    .AllWrapper {
      display: flex;
      padding-top: unset;
      margin-top: 10px;
      .All {
        font-size: 4.5vw;
        margin-right: 5vw;
      }
    }
  }
}
