.Container {
  grid-column: 10/21;
  max-width: 70vw;
  width: 70vw;
  z-index: 3;
  height: 57vw;
  position: relative;

  background-repeat: no-repeat;
  background-image: url("../../images/yellow_sun.svg");
  background-size: contain;
}
.Wrapper {
  position: relative;
  left: 42%;
  top: 48%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 100;

  background-color: #3a0101;
  width: 34.5vw;
  height: 24vw;
  padding: 0;
  border: 1vw solid #3a0101;
}
.Client {
  position: absolute;
  top: 10%;
  font-family: "Passion One";
  font-size: 1.05vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  left: 48.8%;
}

@media (max-width: 600px) {
  .Container {
    grid-column: 1;
    max-width: unset;
    width: 100vw;
    z-index: 5;
    height: 184vw;
    position: unset;
    transform: translateY(-27%);

    background-image: url("../../images/yellow_zone_mobile.svg");
    display: grid;
    justify-items: flex-end;
    align-items: center;
  }
  .Wrapper {
    position: unset;
    left: unset;
    top: unset;

    transform: unset;
    overflow: hidden;
    z-index: 100;

    width: 87.68vw;
    height: 124vw;
    padding: 0;
    box-shadow: 0 2.7vw 7.2vw 0 rgba(0, 0, 0, 0.15);
    border: solid 3.6vw #000000;
    border-right: unset;
  }
  .Client {
    display: none;
  }
}
