.Carousel {
}

.nextIcon {
  transition: 2s;

  &:hover {
    transform: translate(10px);
    transition: 2s;
  }
}

.SlideWrapper {
  position: relative;
  background-color: #3a0101;
  max-height: 24vw;
  transition: 1s;

  .Image {
    position: relative;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 22.5vw;
  }

  .InfoWrapper {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;

    align-items: center;
    align-content: center;

    justify-content: space-between;

    padding: 0 3%;
    background-color: #ffffff;

    max-height: 57.5px;
    height: 15%;
    width: 90%;

    .Info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .Logo {
      max-width: 39.6px;
      width: 2.5vw;
    }
    .Text {
      padding-left: 0.8vw;
      font-family: "Passion One";
      font-size: 1.05vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      &:hover {
        color: #ffd200;
      }
    }

    .Link {
      display: flex;
      justify-content: space-between;
      .LinkText {
        padding-right: 0.55vw;
        font-family: "Passion One";
        font-size: 1.05vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;

        color: #d10000;
      }
    }
  }

  .TimeWrapper {
    position: absolute;
    top: 5%;
    left: 80%;
    background-color: rgba(94, 115, 130, 0.46);

    padding: 0.8vw 0.85vw;
    .Time {
      text-transform: capitalize;
      font-family: "Passion One";
      font-size: 0.8vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }

  .SponsorsWrapper {
    position: absolute;
    background-color: rgb(58, 0, 0);

    // mix-blend-mode: hard-light;

    top: 5%;
    left: 1%;
    width: 6.6vw;
    height: 10vw;

    padding: 0.5vw;
    display: grid;

    .SponsorContent {
      display: grid;
      justify-self: center;
      margin-top: 0.3vw;

      align-items: center;
      justify-items: center;

      .SponsorLogo {
        width: 5vw;
        margin: 0.6vw 0;
      }
      .SponsorTitle {
        font-family: "Roboto";
        font-weight: bold;
        text-align: center;

        font-size: 0.6vw;
        color: #ffffff;
      }
      .NameWrapper {
        display: flex;
        justify-items: center;
        .SponsorName {
          margin-right: 5px;
          font-family: "Roboto";
          font-size: 0.85vw;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.71;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
      }

      .QuickGoButtonsWrapper {
        display: flex;
        align-items: center;
      }

      .QuickGoButton {
        margin-left: 0.4vw;
        width: 1vw;
        height: 0.1vw;
        opacity: 0.3;
        background-color: #ffffff;
        cursor: pointer;

        &.Current {
          opacity: 1;
          background-color: #ec174d;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .Time {
      text-transform: capitalize;
      font-family: "Passion One";
      font-size: 1.05vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}

@media (max-width: 600px) {
  .SlideWrapper {
    position: relative;
    background-color: #000000;
    max-height: unset;
    height: 121vw;
    width: 87.68vw;
    transition: 1s;

    .Image {
      position: relative;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .InfoWrapper {
      position: absolute;
      width: 100%;
      top: 100%;
      left: unset;
      transform: translate(0, -100%);

      display: grid;

      // align-items: center;
      align-content: center;
      row-gap: 4.1vw;

      justify-content: unset;

      padding: 0 3%;
      background-color: #ffffff;
      max-height: unset;
      height: 30vw;
      .Info {
        display: block;
        align-items: unset;
        justify-content: unset;
      }
      .Logo {
        display: none;
      }
      .Text {
        padding-left: 7vw;
        font-size: 5vw;
      }

      .Link {
        display: flex;
        justify-content: unset;
        .LinkText {
          padding-right: 2.6vw;
          padding-left: 7vw;
          font-size: 5.3vw;
        }
      }
    }

    .TimeWrapper {
      position: relative;
      top: 0%;
      left: 0%;
      z-index: 100;
      background-color: #f63b61;
      width: 100px;

      padding: 0.8vw 0.85vw;
      .Time {
        text-transform: capitalize;
        font-family: "Passion One";
        font-size: 0.8vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }

    .SponsorsWrapper {
      display: none;
    }
  }
}
